{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  {% for post in object_list %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|safe|escape|linebreaksbr |truncatewords:80}}</p>
            <br>
            <p><a href="{% url 'post_detail' pk=post.pk %}">Читать полностью&raquo;</a></p>

            <p><a href="/post/add_like/{{ post.pk }}/"> <img src="{% static "like.png" %}" wigth="25px" height="25px"> </a> {{ post.likes }} </p>
            <hr>
        </div>
   {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}