{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
                class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>

        <h3>категория: <a href="{% url  "category" id=post.category_id %}"> {{ post.category }}</a></h3>

        {% if post.image %}
            <img src="{{ post.image.url }}" width="189" height="255">
        {% endif %}

        <p>{{ post.text|safe|escape|linebreaksbr }}</p>

        <div class="tags">ключевые слова:
	        {% for tag in post.tag.all %}
                <a href="{% url "tag" id=tag.id %}">{{ tag }}</a>

		                {% if not forloop.last %}, {% endif %}
	        {% endfor %}
        </div>

        <p><a href="{% url 'post_like' post_id=post.id %}"> <img src="{% static "like.png" %}" wigth="25px"
                                                                 height="25px">
        </a> {{ post.likes }} </p>
        <hr>
        <H3> Комментарии </H3>
        {% for comment in comments %}
            <p> {{ comment.comments_text }}
                <a class="btn btn-default" href="{% url 'edit_comment' pk=1 id=comment.id   %}"><span
                class="glyphicon glyphicon-pencil"></span></a>
                <a href = "{% url 'delete_comment'  id=comment.id pk=1   %}" onclick="return confirm('Вы уверены, что хотите удалить этот комментарий?')">Удалить</a>
            </p>
        {% endfor %}
        <hr>
        {% if username %}
            <form action="{% url "post_comment" post_id=post.id %}/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="Button" value="Add comment">
            </form>
            {% endif %}


    </div>
{% endblock %}