{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
                class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>

        {% if post.image %}
            <img src="{{ post.image.url }}" width="189" height="255">
        {% endif %}

        <p>{{ post.text|safe|escape|linebreaksbr }}</p>
        <p><a href="{% url 'post_like' post.id %}"> <img src="{% static "like.png" %}" wigth="25px" height="25px">
        </a> {{ post.likes }} </p>
        <hr>
        <H3> Комментарии </H3>
        {% for comment in comments %}
            <p> {{ comment.comments_text }}</p>
        {% endfor %}
        <hr>
        <form action="{% url 'post_comment' post.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="Button" value="Add comment">
        </form>
    </div>
{% endblock %}